<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessify Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/guessifyWhite.png') }}" class="logo">
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>

    <div class="container">
        <h1>Guess the Song!</h1>
        <div id="song-info" style="display: none;">
            <p id="track-name"></p>
            <p id="track-artists"></p>
        </div>

        <button id="play-btn" class="button">Play Snippet</button>

        <div>
            <input type="text" id="guess-input" placeholder="Enter song name">
            <button id="guess-btn" class="button">Submit Guess</button>
        </div>

        <div id="feedback"></div>

        <ul id="guesses-list"></ul>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
