<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessify Instructions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/GuessifyWhite.png') }}" class="logo">
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </div>

    <div class="container">
        <h1>Hello and welcome to Guessify!</h1>
        <p>Since we can't play music directly here, follow these instructions to set the game up:</p>
        <ol>
            <li>Open the <a href="https://open.spotify.com" target="_blank">Spotify Web Player</a> in a new tab</li>
            <li>Drag the new tab into a new window and minimize it (the tab preview spoils the song name)</li>
            <li>Press Continue to start the game</li>
            <li></li>
        </ol>
        <a href="{{ url_for('game') }}" class="btn primary">Play!</a>
    </div>
</body>
</html>

