<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guessify - Instructions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/GuessifyWhite.png') }}" alt="Guessify Logo" class="logo">
        <a class="logout" href="{{ url_for('logout') }}">Logout</a>
    </header>
    <main>
        <h2>Hello and welcome to Guessify!</h2>
        <p>This is a game I made to play with friends and wanted to share it with all of you. Since we can’t play music directly from the website, please follow these instructions:</p>
        <ol>
            <li>Open the <a href="https://open.spotify.com/" target="_blank">Spotify Web Player</a> in a new tab (or device).</li>
            <li>Press <strong>Continue</strong> below to start the game.</li>
        </ol>
        <a class="btn" href="{{ url_for('game') }}">Continue</a>
    </main>
</body>
</html>
